.user {
  background-color: var(--light-bg-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  display: flex;
  padding: 5px 25px;
  margin: 10px;

  &__gravatar {
    width: 50px;
    height: 50px;
  }

  &__name {
    margin-left: 25px;
  }

  a {
    text-decoration: none;
    color: var(--accent-color-1);

    &.delete {
      color: var(--dark-gray-color);
    }

    &:hover {
      color: var(--dark-gray-color);
    }
  }
}